DB_DSN=postgres://postgres:Ivbln173@localhost:5432/user_db?sslmode=disable
JWT_KEY=******
REDIS_ADDR=localhost:6379
ADMIN_USERNAME=ADMIN1
ADMIN_PASSWORD=******
BOT_TOKEN=8752372101:AAFl0WwqOqNaHmbk-SUqsrIDymQ_Uv1dTds
CHAT_ID=**********